.App {
    height: inherit;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.scene-container {
    flex-grow: 10;
    position: relative;
}

.ellipsed-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.primary-text {
    font-size: 1em;
    font-weight: 500;
}

.popover-content {
    padding: 12px;
}

.popover-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15;
}